---
name: Publish

on:
  release:
    types: [published]

jobs:
  publish:
    if: github.event_name == 'release'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.11"
      - name: Install Poetry
        uses: snok/install-poetry@v1.2.1
        with:
          virtualenvs-create: true
      - name: Parse the git tag
        id: get_tag
        run: echo ::set-output name=TAG::$(echo $GITHUB_REF | cut -d / -f 3)
      - name: Bump poetry version
        run: poetry version ${{ steps.get_tag.outputs.TAG }}
      - name: Mint token
        id: mint
        uses: tschm/token-mint-action@v1.0.3
      - name: Publish to PyPI
        run: poetry publish -n --build --username __token__ --password '${{ steps.mint.outputs.api-token }}'
